<!DOCTYPE html>
<html ng-app="app">
<head>
    <title>SparkLite</title>
    <link href="css/stylesheet.css" rel="stylesheet" />
    <script data-require="angular.js@1.3.4" data-semver="1.3.4" src="https://code.angularjs.org/1.3.4/angular.js"></script>
    <script src="scripts/NonLibScripts/ScheduleScript.js"></script>
</head>
<body>
    <img src="images/house-lightning-256.png" width="100" height="100" />
    <form class="register">
        <div>
            <div ng-controller="DateController">
                Enter your suburb:
                <br />
                <input type="text" ng-model="area" value="Avoca Hills" ng-init="area='`'" />
                <br /><br />
                <table class="CSSTableGenerator">
                    <tr>
                        <td>Date</td>
                        <td>Area</td>
                        <td>Start</td>
                        <td>Finish</td>
                    </tr>


                    <tr ng-repeat="row in rowCollection | filter:area">
                        <td>{{row.date}}</td>
                        <td>{{row.area}}</td>
                        <td>{{row.time}}</td>
                        <td>{{row.etime}}</td>
                    </tr>
                </table>

            </div>
        </div>

        <div id="AppNavigation">
            <button id="Home" class="register-button" onclick="window.location = 'index.html';">Log Out</button><br/>
            <p align="center"><button id="Tips" onclick="window.location = 'Tips.html';"><img src="images/tips.png" /></button></p>
        </div>
        </form>
</body>
</html>